.article {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    &-content {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      &-page {
        width: 80%; 
        height: 100vh;
      }
    }
  }