.article {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    &-content {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      color:#000;
      &-page {
        width: 60%; 
        min-height: 100vh;
        line-height: 35px;
        word-break: break-word;
        font-size: 18px;
      }
    }
  }