.pageBoxs {
  width: 100%;
  // height: 45vh;
  height: 27rem;
  margin-bottom: 3%;
  &-text {
    padding: 2% 3.5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &-time {
      height: 2rem;
      color: $--timeTextColor;
    }
    &-head {
      height: 2.2rem;
      margin: 3% 0;
      color: $--boxTitleTextColor;
      font-weight: bold;
    }
    &-article {
      width: 100%;
      height: 45%;
      font-size: 15px;
      line-height: 1.7;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    &-tag {
      width: 100%;
      height: 18%;
      display: flex;
      align-items: flex-end;
      &-item {
        padding: 3px 10px;
        background-color: $tagBg-Color;
        border-radius: 3px;
        font-size: 14px;
        color: $--tagTextColor;
        transition: all 0.8s;
        cursor: pointer;
        &:hover {
          color: $text-white;
          background-color: $--linkHoverColor;
        }
      }
    }
  }
  &Content {
    width: 100%;
    height: 27rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 1s ease;
    box-shadow: 1px 1px 14px rgba(128, 128, 128, 0.5);
    &:hover {
      box-shadow: 1px 1px 14px rgba(128, 128, 128, 0.8);
    }
  }
  //奇数
  &-imgType1 {
    width: 50%;
    height: 100%;
    position: relative;
    .xfont {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 6rem;
      transform: translate(-50%, -50%);
    }
    img {
      border-radius: 8px 0 0 8px;
      object-fit: cover;
    }
  }
  &-textType1 {
    width: 50%;
    height: 100%;
    color: #000;
    align-items: flex-end;
    .pageBoxs-text-tag {
      justify-content: flex-end;
      &-item {
        margin-left: 1%;
      }
    }
  }
  // 偶数
  &-imgType2 {
    width: 50%;
    height: 100%;
    position: relative;
    .xfont {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 6rem;
      transform: translate(-50%, -50%);
    }
    img {
      // border-radius: 8px 0 0 8px;
      object-fit: cover;
    }
  }
  &-textType2 {
    width: 50%;
    height: 100%;
    color: #000;
    align-items: flex-start;
    .pageBoxs-text-tag {
      justify-content: flex-start;
      &-item {
        margin-right: 1%;
      }
    }
  }
}
