@font-face {
  font-family: "xfont"; /* Project id 4550545 */
  src: url('iconfont.eot?t=1716536100151'); /* IE9 */
  src: url('iconfont.eot?t=1716536100151#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1716536100151') format('woff2'),
       url('iconfont.woff?t=1716536100151') format('woff'),
       url('iconfont.ttf?t=1716536100151') format('truetype'),
       url('iconfont.svg?t=1716536100151#xfont') format('svg');
}

.xfont {
  font-family: "xfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xblog-chat:before {
  content: "\e604";
}

.xblog-edit_icon_vedio:before {
  content: "\e621";
}

.xblog-weixin:before {
  content: "\e870";
}

.xblog-github:before {
  content: "\e691";
}

.xblog-app_icon_about_me:before {
  content: "\e612";
}

.xblog-backtop1:before {
  content: "\e60a";
}

.xblog-aboutme:before {
  content: "\e63e";
}

