//定义全局变量
$showPane-height:100vh;
$--layout-padding:60px;
$bg-color:#fff;
$headText-Color: #fff; //#4195a7;
$boxBg-Color: #ddd;
$text-white:#fff;
$tagBg-Color: #eee;
$--linkHoverColor:orange;
$--timeTextColor:#797979;
$--tagTextColor:#797979;
$--boxTitleTextColor:#000;
//logo
.LOGOICON {
    font-size: 2rem;
}

// 页面跳转链接
a {
  cursor: pointer;
  text-decoration: none !important;
}
a:visited {
  color: #595a5a !important;
  text-decoration: none !important;
}
a:hover {
  color: $--linkHoverColor !important;
}