//定义全局变量
$textColor-black:#000;
$showPane-height:100vh;
$--layout-padding:60px;
$iconBlue-color:#49b1f5;
$bg-color:#fff;
$headText-Color: hsl(0, 0%, 100%); //#4195a7;
$boxBg-Color: #ddd;
$boxBg-white:#fff;
$text-white:#fff;
$tagBg-Color: #eee;
$btnBg-Color:#fff;
$btnText-Color:#808080;
$--linkHoverColor:orange;
$--timeTextColor:#797979;
$--tagTextColor:#797979;
$--boxTitleTextColor:#000;
//logo
.LOGOICON {
    font-size: 2rem;
}

// // 页面跳转链接
// a {
//   cursor: pointer;
//   text-decoration: none !important;
// }
// a:visited {
//   // color: #595a5a !important;
//   text-decoration: none !important;
// }
// a:hover {
//   color: $--linkHoverColor !important;
// }

