.guestbook {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    &-content {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      &-boxList {
        width: 75%; //75% open // 60% closed
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: width 0.5s;
      }
    }
  }